$ttt-shadow: #fff9;

.leaflet-tooltip {
  font-family: 'Menomonia';
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.4;
  text-shadow:
    2px 0 $ttt-shadow,
    -2px 0 $ttt-shadow,
    0 2px $ttt-shadow,
    0 -2px $ttt-shadow,
    1px 1px $ttt-shadow,
    -1px -1px $ttt-shadow,
    1px -1px $ttt-shadow,
    -1px 1px $ttt-shadow;
}

.leaflet-tooltip-right {
  border-radius: 0 50vh 50vh 0 !important;
  padding-left: 24px !important;
  padding-right: 12px !important;
  border: none !important;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 0) 0%,
    rgba(255, 255, 255, 1) 50%
  ) !important;
}

.leaflet-tooltip-right::before {
  opacity: 0;
}
