body {
  background: #515151 !important;
  color: white !important;
}

.offcanvas {
  background: #616161 !important;
  color: white !important;
}

.offcanvas-toggle {
  position: fixed;
  right: 0;
  top: 34vh;
  height: 32vh;
}

.toggle-open {
  right: 400px;
}

.toggle-close {
  right: 0;
}
