.offcanvas-secondary {
  font-size: 1.5rem !important;
  //top: 34vh;
  //height: 32vh;
  width: 45px;
}

.offcanvas-toggle {
  font-size: 1.5rem !important;
  top: 34vh;
  height: 32vh;
  width: 45px;
}

.toggle-closed {
  position: fixed;
  right: 0;
  z-index: 200;
}
