body {
  background: #515151 !important;
  color: white !important;
}

.offcanvas {
  background: #616161 !important;
  color: white !important;
  height: 94vh;
  margin: auto;
  width: 36vw !important;
}

.offcanvas-toggle {
  position: fixed;
  top: 34vh;
  height: 32vh;
  z-index: 200;
}

.toggle-open {
  right: 36vw;
}

.toggle-close {
  right: 0;
}
